<h1>{{result}}</h1>

<form enctype="text/plain" method="get">
    Would you like some:
    <label>
        Milk?
        <input type="checkbox" name="args[]" value="milk" />
    </label>
    <label>
        Sugar?
        <input type="checkbox" name="args[]" value="sugar" />
    </label>
    <input type="submit" value="Get Coffee" />
</form>
