
<table class="coffee-table u-full-width">
<thead>
    <tr><th>&nbsp;</th></tr>
    </thead>
    <tbody>
    <tr><td><a href="/macchiato"></a></td><td><a href="/espresso"></a></td><td><a href="/galao"></a></td></tr>
    <tr><td><a href="/black"></a></td><td><a href="/americano"></a></td><td><a href="/latte"></a></td></tr>
    <tr><td><a href="/melange"></a></td><td><a href="/cappucinno"></a></td><td><a href="/viennois"></a></td></tr>
    <tr><td><a href="/tripplo"></a></td><td><a href="/iced"></a></td><td><a href="/brew"></a></td></tr>
    <tr><td><a href="/flat_white"></a></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    </tbody>
</table>
<a href="/macchiato">Macchiato</a>
<a href="/espresso">Espresso</a>
<a href="/galao">Galao</a>
<a href="/black">Black</a>
<a href="/americano">Americano</a>
<a href="/latte">Latte</a>
<a href="/melange">Melange</a>
<a href="/cappucinno">Cappucinno</a>
<a href="/viennois">Viennois</a>
<a href="/tripplo">Tripplo</a>
<a href="/iced">Iced</a>
<a href="/brew">Brew</a>
<a href="/flat_white">Flat White</a>
